.header {
  display: grid;
  padding: 1em;
  background-color: #343a40;
  border-radius: 0 0 10px 10px;
  justify-content: center;
}

.logo {
  padding: 4%;
  border-radius: 0.5em;
  align-self: center;
  text-align: center;
  background-color: #000000;
}