.navbar {
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.logo {
  margin: 0 auto 0 0;
}

.navButtonContainer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width:600px) {
  .navbar {
    display: grid;
    justify-content: center;
  }

  .logo {
    padding-bottom: 2em;
  }
}